h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin:top 30px; 
    padding: 15px;
  }
  ol{
    color:red
}
ol li:hover{
    color: yellow;
    cursor: pointer;
}

ul{
  color:rgb(3, 148, 10);
}
ul li:hover{
  
    color: blue;
    cursor: pointer;
}